extends layout

block content
  nav.navbar.navbar-fixed-top.navbar-inverse( role="navigation" )
    .navbar-header
        button.navbar-toggle.collapsed( type="button", data-toggle="collapse", data-target="#navbar-inverse", aria-expanded="false", aria-controls="navbar")
            span.sr-only Toggle navigation
            span.icon-bar
            span.icon-bar
            span.icon-bar
        a.navbar-brand(href="#") Project name
 
    #navbar-inverse.collapse.navbar-collapse
        ul.nav.navbar-nav
            li.active: a( href="#") Home
            li: a( href="#about" ) About
            li: a( href="#contact" ) Contact
            li.dropdown
                a.dropdown-toggle( href="#", data-toggle="dropdown", role="button", aria-expanded="false" ) Dropdown 
                    span.caret
                ul.dropdown-menu( role="menu" )
                    li: a( href="#" ) Action
                    li: a( href="#" ) Another action
                    li: a( href="#" ) Something else here
                    li.divider
                    li.dropdown-header Nav header
                    li: a( href="#" ) Separated link
                    li: a( href="#" ) One more separated link

    // Carousel
    // ==================================================
    #myCarousel.carousel.slide(data-ride='carousel')
      // Indicators
      ol.carousel-indicators
        li.active(data-target='#myCarousel', data-slide-to='0')
        li(data-target='#myCarousel', data-slide-to='1')
        li(data-target='#myCarousel', data-slide-to='2')
      .carousel-inner
        .item.active
          img(src='http://placehold.it/1900x1080&text=Slide Three', alt='First slide')
          .container
            .carousel-caption
              h1 Caption 1
              p
                | Note: If you&apos;re viewing this page via a 
                code file://
                |  URL, the &quot;next&quot; and &quot;previous&quot; Glyphicon buttons on the left and right might not load/display properly due to web browser security rules.
              p
                a.btn.btn-lg.btn-primary(href='#', role='button') Sign up today
        .item
          img(src='http://placehold.it/1900x1080&text=Slide One', alt='Second slide')
          .container
            .carousel-caption
              h1 Another example headline.
              p
                | Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.
              p
                a.btn.btn-lg.btn-primary(href='#', role='button') Learn more
        .item
          img(src='http://placehold.it/1900x1080&text=Slide Two', alt='Third slide')
          .container
            .carousel-caption
              h1 One more for good measure.
              p
                | Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.
              p
                a.btn.btn-lg.btn-primary(href='#', role='button') Browse gallery
      a.left.carousel-control(href='#myCarousel', role='button', data-slide='prev')
        span.icon-prev
      a.right.carousel-control(href='#myCarousel', role='button', data-slide='next')
        span.icon-next

    .container
    .row
      .col-md-12
        |Title of the content
    .row
      .col-md-4
        |Three short words
      .col-md-4
        |They shall grow not old, as we that are left grow old;
        |Age shall not weary them, nor the years condemn. 
        |At the going down of the sun and in the morning 
        |We will remember them. 
        |Lest we forget.
      .col-md-4
        |Quite a short sentence
        .row
          .col-lg-12 More Text 1
        .row
          .col-lg-6 More Text 2
          .col-lg-6 More Text 3